**__pycache__**
env/
node_modules/ 
twilio/
daily
package.json
package-lock.json
requirements.txt
transcript.txt 
tarnscript.txt
client.py 
connect.js
plugin_styletts.py
livekit_script.py 
streamlit_run.py
plugin_chatterbox.py