**__pycache__**
env/
node_modules/ 
twilio/
daily/
openai/
package.json
package-lock.json
requirements.txt
transcript.txt 
tarnscript.txt
client.py 
connect.js
plugin_styletts.py
livekit_script.py 
streamlit_run.py
transcript.txt 
test_ultravox.py 
test_ollama.py 
ultravox_stt_service.py 
transcript_livekit.txt 
custom_ui.html
test.wav
